html {
  box-sizing:border-box;

}
*,*::before,*::after {
  box-sizing:inherit;
}
.logo {
  float:left;
  width:10%;

}


.banner {
  width:100%;
  position: relative;
}

nav {
  background-color:pink;
  padding:0.5em 0.5em 0.5em 0.5em;
}

nav a {
  display:inline-block;
  text-decoration:none;


}
div {
  padding:1em;
}

nav li{
  list-style:none;
  width:24%;
  display:inline-block;}

img {
  width:90%;
  margin-left: auto;
  margin-right: auto;
  display:block;
  clear:both;
}

dt {
  font-weight: bold;
}

.bannertype {
  position: absolute;
  bottom: 47%;
  color:white;
}
h1 {
  text-align: center;

}

h2 {
  text-align: center;
}

h3 {
  text-align: left;
}

.atlantis {
  width:100%;
}

ol {
  list-style:none;
}

p {
  text-align: center;
}

dl {
  display: inline-block;
  padding:0;

}

dd {
  display: inline-block;


}

dt {
  display: inline-block;

}

.sevenwonders{
  background-color:#b808ff;
  padding:1em;
  margin:0;
  overflow:hidden;
  border-radius: 10%;

}
.buytickets{
  background-color:#b808ff;
  padding:1em;
  margin:0;
  overflow:hidden;
  border-radius: 10%;

}

.nowplaying{
  background-color:#b808ff;
  padding:1em;
  margin:0;
  overflow:hidden;
  border-radius: 10%;

}
.thisweek{
  background-color:#b808ff;
  padding:1em;
  margin:0;
  overflow:hidden;
  border-radius: 10%;

}

a {

    background-color:#b808ff;
    padding:1em;
    margin:0;
    overflow:hidden;
    border-radius: 10%;
    text-align: center;


  }

.atlantis {
  position: relative;
}

.atlantistype {
  position:absolute;

}
.99{
  float:left;
  clear:both;
  width: 50%;
}

.39 {
  float:left;
  clear:both;
  width: 50%;
}
