html {
  box-sizing:border-box;
  font-family: 'Lato', sans-serif;

}
*,*::before,*::after {
  box-sizing:inherit;
}

body{
  margin:1.5em 0 0 0;
}
.logo {
  float:left;
  width:20%;

}
.buy {
  float:right;
  clear:both;
  text-decoration: none;
  color: white;
}

.div12 {background-image: url("../images/Banner.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
  padding:3.5em;}


.banner {
  width:100%;
  position: relative;
}

header {
  clear:both;
  display:inline-block;
}

nav {
  background-color:#f2b28f;
  padding:1em 0em 1em 0em;
  clear:both;
}

nav a {
  display:inline-block;
  text-decoration:none;
  clear:both;



}
.div1,.div3,.div5,.div7, .div9, .div11 {
  padding:1em;
  background-color: #e26f3b;
}

.div2, .div4,.div6, .div8,.div10 {
  padding:1em;
  background-color: #f2b28f

}
ol {
  padding:0;
}
nav li{
  list-style:none;
  width:24%;
  display:inline-block;
padding-left: 0.5em;
}


img {
  width:100%;

  clear:both;

}

dt {
  font-weight: bold;
}

.bannertype {
  position: absolute;
  bottom: 67%;
  color:white;
  margin:0;
  padding-right: 2em;
  font-size:20px;

}
footer {
  background-color:#e26f3b;
}

.bannertype2
{
  position: absolute;
  bottom: 58%;
  color:white;
  padding-right: 2em;
  font-size: 14px;

}

.div10{
  background-image: url("../images/atlantis.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    padding:6em;


}

.atlantistype {
  text-align: center;
  color: white;
  clear:both;
  padding-right: 2em;

}


h1 {
  text-align: center;
  margin: 0;
  font-size:20px ;



}

h2 {
  text-align: center;
}

h3 {
  text-align: left;
}

.atlantis {
  width:100%;
}

ol {
  list-style:none;
}

p {
  text-align: center;
}

dl {
  display: inline-block;
  padding:0;

}

dd {
  display: inline-block;


}

dt {
  display: inline-block;

}

.sevenwonders{
  background-color:#ba704a;
  padding:0.5em;
  margin:0;
  overflow:hidden;
  border-radius: 10%;
  color:white;

}
.buytickets{
  background-color:#ba704a;
  padding:0.5em;
  margin:0;
  overflow:hidden;
  border-radius: 10%;
  color:white;

}

.nowplaying{
  background-color:#ba704a;
  padding:0.5em;
  margin:0;
  overflow:hidden;
  border-radius: 10%;
  color:white;

}
.thisweek{
  background-color:#ba704a;
  padding:0.5em;
  margin:0;
  overflow:hidden;
  border-radius: 10%;
  color:white;

}

a {

    background-color:#ba704a;
    padding:1em;
    margin:0;
    overflow:hidden;
    border-radius: 10%;
    text-align: center;


  }

p {
  margin:0;
}

.atlantis {
  position: relative;
}

.atlantistype {
  position:absolute;

}
.99{
  float:left;
  clear:both;
  width: 50%;
  padding:1em;
}

.39 {
  float:left;
  clear:both;
  width: 50%;
  padding:1em;
}
.learnlighthouse {

}
