@-moz-viewport{ width: device-width; scale: 1;}
@-ms-viewport{ width: device-width; scale: 1;}
@-o-viewport{ width: device-width; scale: 1;}
@-webkit-viewport{ width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing:border-box;
  font-family: 'Lato', sans-serif;

}
*,*::before,*::after {
  box-sizing:inherit;
}
body{
  margin:0;
  background-color: # ba704a;
}

main{
  padding-top:10em ;
}


div {
  padding:1em;
}
.logo {
  float:left;
  width:23%;
  padding: 1em 0.5em 2em 0.5em;

}
.buy {
  text-decoration: none;
  color: white;
  float: right;
  font-size: 0.8rem ;
  width:23%;
  margin-top: 1em;
  margin-right: 1em;

}

nav a:hover {
  background-color:#e09577;
}

header a:hover {
  background-color:#e09577;

}

.div12 {background-image: url("../images/Banner.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
  width:100%;
  color:white;
}

div h2 {
  font-size:1.3rem;
  text-align: center;
}

.div12 h2 {
  font-size: 0.9rem;
  margin:0;
  text-align: center;

}

.div12 p {
  font-size:0.6rem;
  margin:0;
}



header {
  display:block;
  width: 100%;
  background-color: #e26f3b;


}
header nav li a {
  text-align: left;
}

header nav li {
  list-style:none;
  display:block;
  font-size:1.2rem;
  width:100%;

}



header a{
  float:right;

}

nav {
  background-color:#f2b28f;
  clear:both;
}

nav a {
  display:block;
  text-decoration:none;
  clear:both;
  width:100%;
  text-align:left;

}
.div1,.div3,.div5,.div7, .div9, .div11 {

  background-color: #e26f3b;

}

.div2, .div4,.div6, .div8,.div10 {

background-color: #f2b28f;

}
ol {
  padding:0;
  margin:0;
  background-color: #ba704a;
}
nav li{
  list-style:none;
  display:block;
  font-size:1rem;

}


img {
  width:100%;
  clear:both;

}
dt {
  font-size:0.8rem;
}

dd {
  font-size:0.8rem;
}


footer {
  background-color:#e26f3b;
}


.atlantistype{
  background-image: url("../images/atlantis.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    text-align:center;
    color: white;
    clear:both;
    width:100%;
    margin:0;
}
.atlantistype a {
  color:white;
  width:100%;
  margin:0;
  text-decoration: none;
}
.atlantistype strong {
  font-size:1rem;
  font-weight: bold;
  margin:0;
}
.atlantistype h3 {
  margin:0 0 1em 0;
  font-size: 0.8rem;
}



h1 {
  text-align: center;
  margin: 0;
  font-size: 1rem;
  padding:1em 0 1em 0;
  display: inline-block;
  width:48%;
  }

h3 {
  text-align: left;
  font-size:1rem;
}

.atlantis {
  width:100%;
}

ol {
  list-style:none;
}

p {
  text-align: center;
  font-size: 0.8rem;
}

dt {
  display: block;
    font-weight: bold;
  }

a {

    background-color:#ba704a;
    padding:0.5em;
    margin:0;
    overflow:hidden;
    text-align: center;
    color:white;
  }

p {
  margin:0;
}

.div9{
  padding:0.5em;
}

aside{
  font-size: 0.7rem;
  padding-left: 3em;s
}
div a:hover {
  background-color:#e09577;
}

.learnlighthouse, .learncolossus, .learnmausoleuma, .learnstatue, .learntemple, .learngardens, .learngiza {
  width:100%;
  display:inline-block;
  color:white;
  text-decoration: none;
  font-size: 0.8rem;
  text-align: center;


}

.footernav li {
  display: block;
  width:100%;

}

footer p{
  background-color: #f2b28f;
  text-align: left;
  padding-left: 3em;

}
.div8 {
  padding: 0.5em 1em 4em 1em;
}
.div8 a {
  width:48%;
  padding:1em 0.5em 1em 0.5em;
  margin: 1em 0 1em 0;
  color:white;
  text-decoration: none;
  font-size: 0.8rem;

}
.fiction {
  margin-bottom: 1em;
}

.adults {
  float:left;
  display:block;

}

.kids {
  float: right;
  display:block;

  }

.div11 li{
  list-style: none;
}
ul {
  font-size: 0.8rem;
  margin:0;
}


@media only screen and (min-width: 25em) {

  nav{
  text-align: center;
}

  }
  nav a {
    display:inline-block;
    text-decoration:none;
    clear:both;
    border-radius: 0%;
    width:100%;
    text-align: center;
  }

  nav li {
    display: inline-block;
    width:24%;
    font-size:0.7rem;

  }



}



@media only screen and (min-width: 28em) {

  nav a {
    display:inline-block;
    text-decoration:none;
    clear:both;
    border-radius: 0%;
    width:100%;
    text-align: center;
  }

  nav li {
    display: inline-block;
    width:24%;
    font-size:0.8rem;

  }



  h1 {
    font-size: 1.2rem;
  }

  .logo {
    width: 20%;
    padding-bottom: 2em;
  }
}

@media only screen and (min-width: 33em) {

  nav a {
    display:inline-block;
    text-decoration:none;
    clear:both;
    border-radius: 0%;
    width:100%;
    text-align: center;
  }

  nav li {
    display: inline-block;
    width:24%;
    font-size:1rem;

  }

@media only screen and (min-width: 44em) {

  header {
    float: left;
    width: 30%;
    position: fixed;
  }

  main {
  float:right;
  width:70%;
}

nav li{
  list-style:none;
  display:block;
  font-size:1rem;
  width:100%;

}

nav a {
  display:inline-block;
  text-decoration:none;
  clear:both;
  border-radius: 0%;
  width:100%;
  text-align:left;

}

footer {
  width:100%;
}
}
